#splash_wrapper{
    text-align: center;
    margin-top: 250px;
}
#splash_wrapper h1{
    font-family: 'ONE-Mobile-POP';
    text-align: center;
    color: #0C6B75;
    font-size: 1.3em;
    margin-top: 20px;
}