<!DOCTYPE html>
<html lang="ko">
  <head>
    <title>GPS 카카오 연동</title>
		<meta charset="utf-8" />  
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="css/reset.css"/>
    <link rel="stylesheet" type="text/css" href="css/font.css"/>
    <link rel="stylesheet" type="text/css" href="css/common.css"/>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <link rel="stylesheet" type="text/css" href="css/all_stamp.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="js/library/jsQR.js"></script>
    <script src="js/all_stamp.js" defer></script>
  </head>
  <body>

    <nav class="flex-c-c-c component-title-nav" id="stamp_status">
      <p class="flex-c-c nav-title theme-font">전체 스탬프 현황</p>

    </nav>

    <div class="content-container all_stamp_container" >
      <div class ="all_stamp">
        <div class="hidden stamp_wrap gamcheon_stamp">
          <img src="file/all_stamp.png" />
        </div>
        <a href="">
        <div class="all_stamp_box" id="all_stamp_box01">
          <h1>감천문화마을</h1>
           <div class="stamp_data1"></div>
           <p>현재모은스탬프</p>
        </div>
        </a>
      </div>
      <div class ="all_stamp">
        <div class="hidden stamp_wrap hocheon_stamp">
          <img src="file/all_stamp.png" />
        </div>        
        <a href="">
          <div class="all_stamp_box" id="all_stamp_box02">
          <h1>호천문화마을</h1>
           <div class="stamp_data2"></div>
           <p>현재모은스탬프</p>
          </div>
        </a>
      </div>
      <div class ="all_stamp">
        <div class="hidden stamp_wrap huinnyeoul_stamp">
          <img src="file/all_stamp.png" />
        </div>
        <a href="">
          <div class="all_stamp_box" id="all_stamp_box03">
          <h1>흰여울문화마을</h1>
           <div class="stamp_data3"></div>
           <p>현재모은스탬프</p>
          </div>
        </a>
      </div>
    </div>

    <div id="stamp_tel">
        TEL. 000-123-4567
    </div>


    <footer class="theme-font footer-container">
      <ul class="flex-n-c h-100">
        <li class="footer-li click-on">
          <a href="/home" class="flex-even-c-c h-100">
<!--             <i class="fas fa-home"></i> -->
            <p>홈</p>
          </a>
        </li>

        <li class="footer-li">
          <a href="/qr" class="flex-even-c-c h-100" id="qr_box_a_wrap">
<!--             <i class="fas fa-road"></i> -->
            <div class="qr_box">
              <img src="file/qr_img.png">
            <p>QR</p>
          </div>
          </a>
        </li>
        <li class="footer-li">
          <a href="/all_stamp" class="flex-even-c-c h-100">
<!--             <i class="fas fa-qrcode"></i> -->
            <p>스탬프</p>
          </a>
        </li>
      </ul>

    </footer>
    <input type="hidden" id="db-value" value="<%=db%>" />
  </body>
</html>