<!DOCTYPE html>
<html lang="ko">

<head>
  <title>GPS 카카오 연동</title>
  <meta charset="utf-8" />
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <link rel="stylesheet" type="text/css" href="/client/css/reset.css" />
  <link rel="stylesheet" type="text/css" href="/client/css/font.css" />
  <link rel="stylesheet" type="text/css" href="/client/css/common.css" />
  <link rel="stylesheet" type="text/css" href="/client/css/style.css" />
  <link rel="stylesheet" type="text/css" href="/client/css/course.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
  <script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=6f42962bada6f9a28e76b984a7918e78"></script>
  <script src="/client/js/course2.js" defer></script>
</head>

<body>
  <!-- 로딩 부분 -->
  <div class="loading-wrap hidden">
    <div class="dim"></div>
    <div class="circle"></div>
  </div>

  <nav class="flex-c-c-c component-title-nav" >
    <div class="nav-bg" id="nav_main_bg_h02">
      <p class="flex-c-c nav-title theme-font">호천 문화 마을</p>
      <ul class="flex-c-c nav-sub-title flex-n-c" id="nav_ul_h00">
        <li><a href="/greet2">소개</a></li>
        <li><a href="/course2">코스</a></li>
        <li><a href="/stamp2">스탬프</a></li>
      </ul>
    </div>
  </nav>



  <div class="content-container">
    <ul class="course_detail_btn mb-20">
      <li id="eoseulleong" class="course 1">
        <p>어슬렁미술관</p>
      </li>
      <li id="stair180" class="course 2">
        <p>180 계단</p>
      </li>
      <li id="platform" class="course 3">
        <p>문화플랫폼 & 남일바</p>
      </li>
      <li id="drama" class="course 4">
        <p>쌈마이웨이 촬영지</p>
      </li>
      <li id="munwha" class="course 5">
        <p>호천생활문화센터</p>
      </li>
      <li id="cloudstair" class="course 6">
        <p>구름다리</p>
      </li>
      <li id="stair100" class="course 7">
        <p>희망 100계단</p>
      </li>
      <li id="leejungseob" class="course 8">
        <p>이중섭 거리미술관</p>
      </li>
      <li id="my-position" class="course">나의 위치</li>

    </ul>
    <div id="location-map"></div>


    <!--클릭이벤트 텍스트-->
    <div class="clickEvent">
      <div class="click-box hidden"> 
        <p id="text">안창마을 주민들이 호계천을 미술관으로 만들기위해 캘리그라피 작품을 작업하여 호계천 벽면에 부착함으로써 누구나 친근하게 찾아갈 수 있는 미술관으로 탈바꿈하게 되었다.</p>
        <img src="/client/file/aslung.jpg"width="100%">
      </div>
      <div class="click-box2 hidden"> 
        <p id="text">호천생활문화센터 가는 길몰게 위치한 180계단은 오르막 집들 사이에서 강을 거슬러 힘차게 올라가는 물고기의 모습을 현상화한 계단의 벽화가 아주 인상적이며 이곳에서 '쌈마이웨이'가 촬영되었다.</p>
        <img src="/client/file/180step.jpg"width="100%">
      </div>
      <div class="click-box3 hidden"> 
        <p id="text">호천문화플랫폼은 공방으로 운영되어 왔으나, 최근에 공방 겸 카페로 바뀌였고  호천문화플랫폼 옆엔 '쌈마이웨이'의 남일바를 재현해놓았다.</p>
        <img src="/client/file/namilbar.jpg"width="100%">
      </div>
      <div class="click-box4 hidden"> 
        <p id="text">드라마 속 사고뭉치 주인공들이 야경을 배경삼아 떡볶이와 맥주를 마시며 신세한탄을 하던 바로 그 자리. 그 신세한탄 혹은 소망을 소주병에 넣어 매달아놓는 것도 이 곳 호천마을만의 ‘쌈마이감성’ 이라고 할 수 있겠다.</p>
        <img src="/client/file/ssammyway.jpg"width="100%">
      </div>
      <div class="click-box5 hidden"> 
        <p id="text">호천생활문화센터는 부산의 여러 분야의 수공예 작가들이 모여 호천마을주민협의회와 협약을 맞고 호천문화마을 만들기 사업의 일환으로 산복도로 문화컨텐츠 개발을 위해 노력하는 거점시설입니다.</p>
        <img src="/client/file/culturecenter.jpg"width="100%">
      </div>
      <div class="click-box6 hidden"> 
        <p id="text">곽경택 감독이 메가폰을 잡고 유오성, 장돈건 주연을 맡은 영화 '친구'에서 친구들이 고딩시절 뛰어가던 구름 다리가 여기 범일동 구름다리입니다.</p>
        <img src="/client/file/cloude.jpg"width="100%">
      </div>
      <div class="click-box7 hidden"> 
        <p id="text">희망길 100계단은 이중섭 전망대로 향하는 관문이다. 높고 가파른 계단이지만 층계참마다 새겨진 이중섭의 편지 문구를 따라가다 보면 금세 망양로 일대의 빼곡한 산동네 풍경이 눈에 가득 들어찬다. 중간 중간 쉬어갈 수 있는 나무 의자도 갖추어져 있다.</p>
        <img src="/client/file/hopesteps.jpg"width="100%">
      </div>
      <div class="click-box8 hidden"> 
        <p id="text">거리 미술관이라는 주택가 담벼락을 전시장으로 활용해 이중섭의 작품 액자를 전시해놓았다. 이중섭의 대표작들을 만날 수 있는 매력적인 골목이다.</p>
        <img src="/client/file/roadart.jpg"width="100%">
      </div>
    </div>
  </div>


  <footer class="theme-font footer-container">
    <ul class="flex-n-c h-100" id="footer_ul_h">
      <li class="footer-li click-on">
        <a href="/home" class="flex-even-c-c h-100">
<!--             <i class="fas fa-home"></i> -->
          <p>홈</p>
        </a>
      </li>

      <li class="footer-li">
        <a href="/qr" class="flex-even-c-c h-100" id="qr_box_a_wrap">
<!--             <i class="fas fa-road"></i> -->
        <div class="qr_box qr_box_h">
            <img src="/client/file/qr_img.png">
          <p>QR</p>
        </div>
        </a>
      </li>
      <li class="footer-li">
        <a href="/all_stamp" class="flex-even-c-c h-100">
<!--             <i class="fas fa-qrcode"></i> -->
          <p>스탬프</p>
        </a>
      </li>
    </ul>

  </footer>
  <!-- server.js에서 db 값을 불러옴 -->
  <!-- 실무에서는 이렇게 저장X, 개인정보 드러남, 백엔드 처리 -->
  <input type="hidden" id="db-value" value="<%=db%>" />
</body>

</html>