<!DOCTYPE html>
<html lang="ko">
  <head>
    <title>GPS 카카오 연동</title>
		<meta charset="utf-8" />  
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="/client/css/reset.css"/>
    <link rel="stylesheet" type="text/css" href="/client/css/font.css"/>
    <link rel="stylesheet" type="text/css" href="/client/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="/client/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="/client/css/greet.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
  </head>
  <body>
    
    <nav class="flex-c-c-c component-title-nav" >
      <div class="nav-bg" id="nav_main_bg_g01">
        <p class="flex-c-c nav-title theme-font">감천 문화 마을</p>
        <ul class="flex-c-c nav-sub-title flex-n-c" id="nav_ul_g00">
          <li><a href="/greet1">소개</a></li>
          <li><a href="/course1">코스</a></li>
          <li><a href="/stamp1">스탬프</a></li>
        </ul>
      </div>
    </nav>

    <div class="content-container">
      <div class="introduce-title-wrap">
        <img src="/client/file/gamcheon_main_img.png">
        <p class="f-18" id="content_title_g00">감천 문화 마을은?</p>
      </div>
      <div class="introduce" id="introduce_g00">
        <p>감천문화마을은 1950년대 6.25 피난민의 힘겨운 삶의 터전으로 시작되어 현재에 이르기까지 민족현대사의 한 단면과 흔적인 부산의 역사를 그대로 간직하고 있는 곳입니다. 산자락을 따라 질서정연하게 늘어선 계단식 집단 주거형태와 모든 길이 통하는 미로미로 골목길의 경관은 감천만의 독특함을 보여줍니다.
          <br/><br/>
          감천의 이런 특색과 역사적 가치를 살리기 위해 지역 예술인들과 마을 주민들이 모여 시작한 『마을미술 프로젝트』는 감천문화마을 만들기 사업의 디딤돌이 되었으며 이 사업을 시작으로 각종 공모사업을 유치하여 2019년에는 308만여명이 방문하는 명소가 되었습니다.</p>
      </div>
    </div>
    
   
    <footer class="theme-font footer-container">
      <ul class="flex-n-c h-100" id="footer_ul_g">
        <li class="footer-li click-on">
          <a href="/home" class="flex-even-c-c h-100">
<!--             <i class="fas fa-home"></i> -->
            <p>홈</p>
          </a>
        </li>

        <li class="footer-li">
          <a href="/qr" class="flex-even-c-c h-100" id="qr_box_a_wrap">
<!--             <i class="fas fa-road"></i> -->
            <div class="qr_box qr_box_g">
              <img src="/client/file/qr_img.png">
            <p>QR</p>
          </div>
          </a>
        </li>
        <li class="footer-li">
          <a href="/all_stamp" class="flex-even-c-c h-100">
<!--             <i class="fas fa-qrcode"></i> -->
            <p>스탬프</p>
          </a>
        </li>
      </ul>

    </footer>

  </body>
</html>