<!DOCTYPE html>
<html lang="ko">
  <head>
    <title>GPS 카카오 연동</title>
		<meta charset="utf-8" />  
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="css/reset.css"/>
    <link rel="stylesheet" type="text/css" href="css/font.css"/>
    <link rel="stylesheet" type="text/css" href="css/common.css"/>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <link rel="stylesheet" type="text/css" href="css/greet.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
  </head>
  <body>
    
    <nav class="flex-c-c-c component-title-nav" >
      <div class="nav-bg" id="nav_main_bg_w01">
        <p class="flex-c-c nav-title theme-font">흰여울 문화 마을</p>
        <ul class="flex-c-c nav-sub-title flex-n-c" id="nav_ul_w00">
          <li><a href="/greet3">소개</a></li>
          <li><a href="/course3">코스</a></li>
          <li><a href="/stamp3">스탬프</a></li>
        </ul>
      </div>
    </nav>

    <div class="content-container">
      <div class="introduce-title-wrap">
        <img src="file/white_main_img.png">
        <p class="f-18" id="content_title_w00">흰여울 문화 마을은?</p>
      </div>
      <div class="introduce" id="introduce_w00">
        <p>부산의 대표적인 원도심 흰여울길은 봉래산 기슭에서 굽이쳐 내리는 물줄기가 마치 흰 눈이 내리는 모습과 비슷하다 하여 이름 지어졌다. 2011년 12월, 낡은 가옥을 리모델링하면서 현재는 영도의 생활을 느낄 수 있는 독창적인 문화예술마을로 거듭났다.
          <br/><br/>
          절영해안산책로 가파른 담벼락 위로 독특한 마을 풍경이 보인다. 해안가 절벽 끝에 바다를 따라 난 좁은 골목길 안쪽으로 작은 집들이 다닥다닥 붙어 있다. 피난민들의 애잔한 삶이 시작된 곳이자 현재는 마을주민과 함께하는 문화마을공동체 흰여울문화마을이 자리한 곳이다.</p>
      </div>
    </div>
    
   
    <footer class="theme-font footer-container">
      <ul class="flex-n-c h-100">
        <li class="footer-li click-on">
          <a href="/home" class="flex-even-c-c h-100">
<!--             <i class="fas fa-home"></i> -->
            <p>홈</p>
          </a>
        </li>

        <li class="footer-li">
          <a href="/qr" class="flex-even-c-c h-100" id="qr_box_a_wrap">
<!--             <i class="fas fa-road"></i> -->
            <div class="qr_box">
              <img src="file/qr_img.png">
            <p>QR</p>
          </div>
          </a>
        </li>
        <li class="footer-li">
          <a href="/all_stamp" class="flex-even-c-c h-100">
<!--             <i class="fas fa-qrcode"></i> -->
            <p>스탬프</p>
          </a>
        </li>
      </ul>

    </footer>

  </body>
</html>