<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/client/css/home.css">
    <title>Document</title>
</head>
<body>
    <section class="wrapper">
        <div class="Backgraund">
            <div class="flex_c">
                <div class="star_1">
                    <a href="/greet1">
                        <img src="/client/file/main_star1.png">
                    </a>
                </div>
                <a href="/greet2">
                    <div class="star_2">
                        <img src="/client/file/main_star2.png">
                    </div>
                </a>
                <a href="/greet3">
                    <div class="star_3">
                        <img src="/client/file/main_star3.png">
                    </div>
                </a>
                <div class="aatext">
                    <div class="qr">
                        <a href="/qr">QR</a>
                    </div>
                    <div class="all_stp">
                        <a href="/all_stamp">전체스탬프</a>
                    </div>
                </div>
               
            </div>            
        </div>
    </section>
</body>
</html>