<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/client/css/style.css">
    <title>Document</title>
</head>
<body>
    <div id="login_bg">
<!--         <img src="/client/file/login_bg.png"> -->
        <div id="login_wrapper">
            <a href="/auth/kakao" class="login_link">
                <div class="login_box" id="kakao_login">   
                    <img src="/client/file/kakao.png">
                    <p class="login_text">카카오톡으로 시작</p>
                </div>
            </a>
            <a href="/auth/naver" class="login_link">
                <div class="login_box" id="naver_login">
                    <img src="/client/file/naver.png">
                    <p class="login_text">네이버로 시작</p>
                </div>
            </a>
        </div>
    </div>

</body>
</html>