<!DOCTYPE html>
<html lang="ko">

<head>
    <title>GPS 카카오 연동</title>
    <meta charset="utf-8" />
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="css/reset.css" />
    <link rel="stylesheet" type="text/css" href="css/font.css" />
    <link rel="stylesheet" type="text/css" href="css/common.css" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="stylesheet" type="text/css" href="css/stamp.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="js/library/jsQR.js"></script>
    <script src="js/stamp2.js" defer></script>
</head>

<body>

    <nav class="flex-c-c-c component-title-nav" >
        <div class="nav-bg" id="nav_main_bg_h03">
          <p class="flex-c-c nav-title theme-font">호천 문화 마을</p>
          <ul class="flex-c-c nav-sub-title flex-n-c">
            <li id="li_h_st_01"><a href="/greet2">소개</a></li>
            <li id="li_h_st_02"><a href="/course2">코스</a></li>
            <li id="li_h_st_03"><a href="/stamp2">스탬프</a></li>
          </ul>
        </div>
      </nav>

    <div class="content-container ">
        <div class="stamp_container">
            <p class="stamp_status_p" id="stamp_status_p_h">호천 문화 마을 스탬프 현황</p>
            <ul class="stamp_box mb-20">
                <li id="eoseulleong" class="stamp stamp_h00">
                    <div class="eoseulleong-mark hidden">
                        <img class="w100-h100" src="file/stamp.png" />
                    </div>
                    <p class="stamp_text_g">어슬렁미술관</p>
                </li>
                <li id="stair180" class="stamp stamp_h00">
                    <div class="stair180-mark hidden">
                        <img class="w100-h100" src="file/stamp.png" />
                    </div>
                    <p class="stamp_text_g">180 계단</p>
                </li>
                <li id="drama" class="stamp stamp_h00">
                    <div class="drama-mark hidden">
                        <img class="w100-h100" src="file/stamp.png" />
                    </div>
                    <p class="stamp_text_g">쌈마이웨이 촬영지</p>
                </li>
                <li id="platform" class="stamp stamp_h00">
                    <div class="platform-mark hidden">
                        <img class="w100-h100" src="file/stamp.png" />
                    </div>
                    <p class="stamp_text_g">문화플랫폼 & 남일바</p>
                </li>
                <li id="munwha" class="stamp stamp_h00">
                    <div class="munwha-mark hidden">
                        <img class="w100-h100" src="file/stamp.png" />
                    </div>
                    <p class="stamp_text_g">호천생활문화센터</p>
                </li>
   
                <li id="cloudstair" class="stamp stamp_h00">
                    <div class="cloudstair-mark hidden">
                        <img class="w100-h100" src="file/stamp.png" />
                    </div>
                    <p class="stamp_text_g">구름다리</p>
                </li>
                  
                <li id="stair100" class="stamp stamp_h00">
                    <div class="stair100-mark hidden">
                        <img class="w100-h100" src="file/stamp.png" />
                    </div>
                    <p class="stamp_text_g">희망 100계단</p>
                </li>
                <li id="leejungseob" class="stamp stamp_h00">
                    <div class="leejungseob-mark hidden">
                        <img class="w100-h100" src="file/stamp.png" />
                    </div>
                    <p class="stamp_text_g">이중섭 거리미술관</p>
                </li>
    
            </ul>
    
    
        </div>

<!-- 
        <button><a href="/qr">큐알인증해보삼</a></button> -->
    </div>

    <footer class="theme-font footer-container">
        <ul class="flex-n-c h-100" id="footer_ul_h">
          <li class="footer-li click-on">
            <a href="/home" class="flex-even-c-c h-100">
  <!--             <i class="fas fa-home"></i> -->
              <p>홈</p>
            </a>
          </li>
  
          <li class="footer-li">
            <a href="/qr" class="flex-even-c-c h-100" id="qr_box_a_wrap">
  <!--             <i class="fas fa-road"></i> -->
              <div class="qr_box qr_box_h">
                <img src="file/qr_img.png">
              <p>QR</p>
            </div>
            </a>
          </li>
          <li class="footer-li">
            <a href="/all_stamp" class="flex-even-c-c h-100">
  <!--             <i class="fas fa-qrcode"></i> -->
              <p>스탬프</p>
            </a>
          </li>
        </ul>
  
      </footer>
    <input type="hidden" id="db-value" value="<%=db%>" />
</body>

</html>