<!DOCTYPE html>
<html lang="ko">

<head>
    <title>GPS 카카오 연동</title>
    <meta charset="utf-8" />
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="/client/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="/client/css/font.css" />
    <link rel="stylesheet" type="text/css" href="/client/css/common.css" />
    <link rel="stylesheet" type="text/css" href="/client/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/client/css/stamp.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/client/js/library/jsQR.js"></script>
    <script src="/client/js/stamp1.js" defer></script>
</head>

<body>
    <nav class="flex-c-c-c component-title-nav" >
        <div class="nav-bg" id="nav_main_bg_g03">
          <p class="flex-c-c nav-title theme-font">감천 문화 마을</p>
          <ul class="flex-c-c nav-sub-title flex-n-c">
            <li id="li_g_st_01"><a href="/greet1">소개</a></li>
            <li id="li_g_st_02"><a href="/course1">코스</a></li>
            <li id="li_g_st_03"><a href="/stamp1">스탬프</a></li>
          </ul>
        </div>
      </nav>

    <div class="content-container">
        <div class="stamp_container">
            <p class="stamp_status_p" id="stamp_status_p_g">감천 문화 마을 스탬프 현황</p>
            <ul class="stamp_box mb-20">
                <li id="museum" class="stamp stamp_g00">
                    <div class="museum-mark hidden">
                        <img class="w100-h100" src="/client/file/stamp.png" />
                    </div>
                    <p class="stamp_text_g">작은박물관</p>
                </li>
                <li id="skymaru" class="stamp stamp_g00">
                    <div class="skymaru-mark hidden">
                        <img class="w100-h100" src="/client/file/stamp.png" />
                    </div>
                    <p class="stamp_text_g">하늘마루</p>
                </li>
                <li id="bread" class="stamp stamp_g00">
                    <div class="bread-mark hidden">
                        <img class="w100-h100" src="/client/file/stamp.png" />
                    </div>
                    <p class="stamp_text_g">감천제빵소</p>
                </li>
                <li id="b612" class="stamp stamp_g00">
                    <div class="b612-mark hidden">
                        <img class="w100-h100" src="/client/file/stamp.png" />
                    </div>
                    <p class="stamp_text_g">소행성B612</p>
                </li>
                <li id="gamnae" class="stamp stamp_g00">
                    <div class="gamnae-mark hidden">
                        <img class="w100-h100" src="/client/file/stamp.png" />
                    </div>
                    <p class="stamp_text_g">감내어울터</p>
                </li>
                <li id="green" class="stamp stamp_g00">
                    <div class="green-mark hidden">
                        <img class="w100-h100" src="/client/file/stamp.png" />
                    </div>
                    <p class="stamp_text_g">그린하우스</p>
                </li>
                <li id="doghouse" class="stamp stamp_g00">
                    <div class="doghouse-mark hidden">
                        <img class="w100-h100" src="/client/file/stamp.png" />
                    </div>
                    <p class="stamp_text_g">멍멍이가있는집</p>
                </li>
                <li id="salt" class="stamp stamp_g00">
                    <div class="salt-mark hidden">
                        <img class="w100-h100" src="/client/file/stamp.png" />
                    </div>
                    <p class="stamp_text_g">감천황토소금상회</p>
                </li>
    
            </ul>
        </div>
<!--         <button><a href="/qr">큐알인증해보삼</a></button> -->


    </div>

    <footer class="theme-font footer-container">
        <ul class="flex-n-c h-100" id="footer_ul_g">
          <li class="footer-li click-on">
            <a href="/home" class="flex-even-c-c h-100">
  <!--             <i class="fas fa-home"></i> -->
              <p>홈</p>
            </a>
          </li>
  
          <li class="footer-li">
            <a href="/qr" class="flex-even-c-c h-100" id="qr_box_a_wrap">
  <!--             <i class="fas fa-road"></i> -->
            <div class="qr_box qr_box_g">
                <img src="/client/file/qr_img.png">
              <p>QR</p>
            </div>
            </a>
          </li>
          <li class="footer-li">
            <a href="/all_stamp" class="flex-even-c-c h-100">
  <!--             <i class="fas fa-qrcode"></i> -->
              <p>스탬프</p>
            </a>
          </li>
        </ul>
  
      </footer>
    <input type="hidden" id="db-value" value="<%=db%>" />
</body>

</html>